.lists-main {
  display: flex;
  flex-direction: column;
}
.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.count-lists {
  font-weight: 700;
}

.card.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  min-height: 50px;
  height: auto;
  width: 30%;
  background: rgb(240, 236, 236);
}
.listTitle {
  color: #bb2a81;
  font-weight: 500;
  margin-bottom: 20px;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  background: none;
}

.listTitle:focus {
  color: green;
  cursor: text;
  border: 2px solid green;
  background: #fff;
  outline: none;
}

.list-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.card.list-item {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(234, 252, 171);
}
.slot {
  display: none;
}
.card.list-item.selected {
  display: none;
}
.card.list-item.selected::after {
  display: block;
  content: '';
  background: gray;
  height: 60px;
  width: 100%;
}
.card.list-item:hover {
  background: #a7ffeb;
  cursor: pointer;
}
.selected {
  cursor: grabbing;
}

.icon__inner {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.trash-list,
.add-card {
  color: rgb(128, 127, 127);
  size: 1em;
}

.trash-list:hover,
.add-card:hover {
  color: #bb2a81;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .card.list {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .card.list {
    width: 100%;
  }
}
