nav {
  background-color: #00887a;
}

.board-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.board-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteBoard {
  height: 80%;
}
.cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 3;
}
