nav {
  background-color: #00887a;
}

.board-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.board-header-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.deleteBoard {
  position: absolute;
  top: 10%;
  right: 3%;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 3;
}
