.boards-row {
  justify-content: space-around;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.card {
  min-height: 50px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  color: #25306c;
  font-weight: bold;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 24%;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 48%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 98%;
  }
}
