.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.h1 {
  font-size: 3rem;
  color: #00887a;
  font-weight: 500;
  border: none;
  text-align: center;
}
.h1:focus {
  border: 2px solid #00887a;
  border-radius: 2px;
  outline: none;
}

@media screen and (max-width: 640px) {
  .h1 {
    width: 100%;
  }
}
